

.login{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:5rem;
    font-family: Raleway;
    color:rgb(0, 0, 0);
    .gg{
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    img{
        width:80px;
    }
    .wrong-pass{
        font-size:14px;
        color:red;
        font-family: opensans;
    }
    .good-pass{
        font-size:14px;
        color:rgb(40, 173, 0);
        font-family: opensans;
    }
    .new-user{
        padding:1rem;
        width:470px;
        background-color: rgb(255, 170, 59);
        color:white;
        border-radius: 3px;
        text-align: center;
    }
    form{
        margin-top:2rem;
        display: flex;
        flex-direction: column;
        width:500px;
        
        border-radius: 3px;
        label{
            display:flex;
            justify-content: space-between;
            align-items: center;
            font-size:1.5rem;
            margin:1rem;
            input{
                width:300px;
                height:25px;
                border:1px solid rgb(204, 204, 204);
                border-radius: 3px;
                outline: none;
                padding:5px;
            }
        }
    }
    button{
        margin:1rem;
        outline: none;
        height:25px;
        border:1px solid black;
        background-color: black;
        color:white;
        border-radius: 3px;
        cursor: pointer;
        transition: .2s;
    }
    button:hover{
        background-color: rgb(63, 63, 63);
        border:1px solid  rgb(63, 63, 63);
        color:rgb(255, 255, 255);
    }
}


@media(max-width:520px){
    .login{
        margin-top:2rem;
        form{
            width:320px;
            label{
                font-size:1rem;
                input{
                    width:200px;
                }
            }
        }
        .new-user{
            width:300px;
        }
    }
}