

.restaurant-reg{
    font-family: opensans;
    display:flex;
    justify-content: center;
    .not-logged{
        margin:3rem auto;
        text-align: center;
        font-size:1.5rem;
    }
    h4{
        margin:10px;
        color:rgb(255, 123, 0);
    }
    .dish-added{
        
        border-radius:3px;
        padding:10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:12px;
        justify-content: center;
        .dish{
            text-align: center;
            margin:5px;
            p{
                max-width: 200px;
                border:1px solid rgb(206, 206, 206);
                margin:2px;
            }
        }
        img{
            width:200px;
            border-radius: 3px;
        }
    }
    form{
        border-radius:3px;
        width:400px;
        display:flex;
        flex-direction: column;
        font-size:14px;
        input{
            border:1px solid rgb(194, 194, 194);
            padding:2px;
            border-radius: 2px;
        }
        label{
            display: flex;
            justify-content: space-between;
            margin:8px;
        }
        button{
            margin:10px;
        }
    }
    .create-new-dish{
        margin-top:1rem;
        button{
            border:none;
            font-size:1rem;
            padding:5px;
            border-radius: 5px;
            background-color: black;
            border:1px solid white;
            color:white;
            cursor: pointer;
            transition: .3s;
        }
        button:hover{
            background-color: white;
            border:1px solid black;
            color:black;
        }
    }
    .create-new-features{
        margin-top:1rem;
        button{
            border:none;
            font-size:1rem;
            padding:5px;
            border-radius: 5px;
            background-color: black;
            border:1px solid white;
            color:white;
            cursor: pointer;
            transition: .3s;
        }
        button:hover{
            background-color: white;
            border:1px solid black;
            color:black;
        }
        label{
            border-bottom:1px solid rgb(197, 197, 197);
        }
    }
}

.restaurant-reg > * {
    margin:1rem 1rem;
}


.main-res{
    .finish-create{
        margin:3rem 1rem;
        text-align: center;
        button{
            font-family: worksans;
            width:300px;
            border:none;
            font-size:1.3rem;
            padding:10px;
            border-radius: 5px;
            background-color: black;
            border:1px solid white;
            color:white;
            cursor: pointer;
            transition: .3s;
        }
        button:hover{
            background-color: white;
            border:1px solid black;
            color:black;
        }
    }
}

.not{
    margin:3rem 1rem;
    text-align: center;
    font-family: worksans;
}


@media(max-width:750px){
    .restaurant-reg{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height:60vh;
    }
}
@media(max-width:430px){
    .restaurant-reg{
        .create-new-dish{
            align-items: center;
        }
        .create-new-features{
            align-items: center;
        }
        form{
            text-align: center;
            font-size:12px;
            button{
                width:250px;
            }
            label{
                flex-direction: column;
                
                align-items: center;
                input{
                    width:250px
                }
            }
        }
    }
    .main-res{
        .finish-create{
            button{
                width:250px;
                font-size:16px;
            }
        }
    }
}