

.app-header{
    margin:1rem;
    font-family: Raleway;
    display:flex;
    align-items: center;
    justify-content: space-between;
    .logged-user{
        font-family: worksans;
        width:300px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .ics{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        .user-profile{
            cursor: pointer;
        }
        .logout{
            cursor: pointer;
        }
        p{
            display: flex;
            align-items: center;
            font-size:14px;
            margin-left:12px;
            transition: .2s;
        }
        p:hover{
            color:rgb(155, 155, 155);
        }
        i{
            font-size:1rem;
            margin-left:12px;
            transition: .2s;
        }
        i:hover{
            color:rgb(255, 112, 30);
        }
    }
    .sign{
        margin-right: 0px;
    }
    a{
        text-decoration: none;
        color:black;
        margin-right:3rem;
        font-size:16px;
        font-family: Worksans;
        transition: .2s;
    }
    a:hover{
        // color:rgb(172, 172, 172);
        border-bottom:1px dotted rgb(255, 112, 30);
        color:rgb(255, 112, 30);
    }
    .user-icons{
        width:270px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        font-size:16px;
        cursor: pointer;
        font-family: Worksans;
        .link-cart{
            margin-right:0px;
        }
    }
    span{
        font-family: Dancing;
    }

        .cart-num{
            width:16px;
            height:16px;
            color:white;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin:0px;
            font-size:12px;
            background-color: rgb(0, 0, 0);
            border-radius: 3px;
            cursor: default;
        }
}