

.app-header{
    margin:1rem;
    font-family: Raleway;
    display:flex;
    align-items: center;
    justify-content: space-between;
    .reg-res{
        color:rgb(255, 136, 0);
    }
    .logo{
        cursor: pointer;
    }
    .logged-user{
        font-family: worksans;
        width:330px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        .ics{
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size:1rem;
        }
        .user-profile{
            cursor: pointer;
            margin-right:0px;
        }
        .user-profile:hover{
            color:rgb(155, 155, 155);
            border:none;
        }
        .logout{
            cursor: pointer;
            margin-right:0px;
        }
        .logout:hover{
            color:rgb(155, 155, 155);
            border:none;
        }
        p{
            display: flex;
            align-items: center;
            font-size:1rem;
            margin-left:12px;
            transition: .2s;
        }
        p:hover{
            color:rgb(155, 155, 155);
        }
        i{
            font-size:1rem;
            margin-left:12px;
            transition: .2s;
        }
        i:hover{
            color:rgb(255, 112, 30);
        }
    }
    .sign{
        margin-right: 0px;
        font-size:1rem;
    }
    a{
        text-decoration: none;
        color:black;
        margin-right:3rem;
        font-size:1rem;
        font-family: Worksans;
        transition: .2s;
    }
    a:hover{
        // color:rgb(172, 172, 172);
        border-bottom:1px dotted rgb(255, 112, 30);
        color:rgb(255, 112, 30);
    }
    .user-icons{
        width:270px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        font-size:1rem;
        cursor: pointer;
        font-family: Worksans;
        .link-cart{
            margin-right:0px;
        }
    }
    span{
        font-family: Dancing;
    }

        .cart-num{
            width:16px;
            height:16px;
            color:white;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin:0px;
            font-size:12px;
            background-color: rgb(0, 0, 0);
            border-radius: 3px;
            cursor: default;
        }
        .bars-btn{
            display: none;
            align-items: center;
            button{
                border:none;
                outline: none;
                background:transparent;
                cursor: pointer;
                i{
                    font-size:1.5rem;
                }
            }
        }
}



.mobile-nav{
    display: none;
    margin:1rem;
    margin-bottom:1rem;
    font-family: worksans;
    background-color: black;
    color:white;
    .mobile-links{
        display:flex;
        flex-direction: column;
        padding:10px;
        border-bottom: 1px dotted rgb(102, 102, 102);
        a{
            margin:5px;
            text-decoration: none;
            color:white;
        }
    }
    .mobile-login{
        .user-icons{
            display:flex;
            justify-content: space-around;
            align-items: center;
            padding:2rem;
            .cart-num{
                width:16px;
                height:16px;
                color:rgb(0, 0, 0);
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin:0px;
                font-size:14px;
                background-color: rgb(255, 255, 255);
                border-radius: 3px;
                cursor: default;
            }
        }
        .logged-user{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding:2rem;
            .ics{
                display:flex;
                align-items: center;
                .cart-num{
                    width:16px;
                    height:16px;
                    color:rgb(0, 0, 0);
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    margin:0px;
                    margin-right:1rem;
                    font-size:14px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 3px;
                    cursor: default;
                }
            }
            p{
                margin:10px;
            }
            .user-profile{
                text-decoration: none;
                i{
                    margin-top:10px;
                    margin-left:5px;
                }
            }
            .logout{
                text-decoration: none;
                i{
                    margin-left:5px;
                }
            }
        }
        a{
            color:white;
        }
    }
}

.show{
    // height:35vh;
    // transform: translateY(1%);
    // transition: .3s ease-in-out;
    animation: pulse .3s ease-in-out;
    display: block;
}
.hide{
    // height:0px;
    // transform: translateY(200%);
    // transition: .2s ease-in-out;
    animation: pulse-out 3s ease-in-out;
    // display: none;
}

  
  @keyframes pulse {
    0% {
        transform: translateX(200%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes pulse-out {
    0% {
        transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }


@media(min-width:1151px){
    .mobile-nav{
        display:none;
    }
}
@media(max-width:1150px){
    .app-header{
        .logged-user{
            display:none;
        }
        .user-icons{
            display:none;
        }
        .bars-btn{
            display:block;
        }
        .links{
            display:none;
        }
    }
    .mobile-nav{
        .mobile-login{
            .user-icons{
                justify-content: center;
            }
            .user-icons > * {
                margin:1rem;
                text-decoration: none;
            }
        }
    }
}




@media(max-width:500px){
    .mobile-nav{
        margin:0;
        .mobile-login{
            .user-icons{
                padding:1rem;
                a{
                    font-size:14px;
                    text-decoration: none;
                }
                .cart-num{
                    
                }
            }
            
            .user-icons > * {
                margin:1rem;
            }
        }
    }
}

