

.contact{
    margin:1rem;
    width:300px;
    margin:4rem auto;
    font-family: opensans;
    div{
        display:flex;
        align-items: center;
        justify-content: space-between;
        img{
            width:30px;
            margin:1rem;
        }
        h3{
            color:rgb(83, 83, 83);
        }
    }
}
@media(max-width:530px){
    .contact{
        min-height:50vh;
        width:300px;
        div{
            flex-direction: column;
            h3{
                font-size:1rem;
            }
        }
    }
}