
.rest-features{
    display: flex;
    margin-top:2rem;
    font-family: worksans;
    font-size:14px;
    > *:not(:first-child){
        margin-left:1.5rem;
    }
    i{
        margin-right:5px;
    }
    
}
.allowed{
    color:green;
}
.notAllowed{
    color:red;
}
@media(max-width:1150px){
    .rest-features{
        font-size: 12px;
    }
}
@media(max-width:730px){
    .rest-features{
        font-size: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        p{
            margin:5px;
        }
    }
}
@media(max-width:517px){
    .rest-features{
        text-align: center;
        border:1px solid rgb(201, 201, 201);
        border-radius: 3px;
        padding:10px;
    }
}