
.rest-details-main{
    margin:2rem 1rem 0 1rem;
}
.rest-details{
    color:rgb(45, 45, 59);
    display:flex;
    font-family: Worksans;
    img{
        width:600px;
        border-radius:3px;
        height:400px;
        object-fit: cover;
    }
    h1{
        margin-left:10px;
    }
    .rest-desc{
        margin-left:2rem;
        > *:not(:first-child) {
            margin:10px;
        }
    }
}


.allowed{
    color:rgb(124, 124, 124);
}
.notAllowed{
    color:rgb(124, 124, 124);
}


@media(max-width:1150px){
    .rest-details{
        img{
            width:400px
        }
    }
}

@media(max-width:940px){
    .rest-details{
        img{
            width:300px
        }
    }
}
@media(max-width:730px){
    .rest-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width:600px
        }
        .rest-desc{
            width:100%;
            text-align: center;
            margin:1rem auto;
        }
    }
}
@media(max-width:590px){
    .rest-details{
        img{
            width:500px
        }
    }
}
@media(max-width:517px){
    .rest-details{
        img{
            width:400px
        }
    }
}
@media(max-width:420px){
    .rest-details{
        img{
            width:300px
        }
        h1{
            font-size:1.5rem;
        }
        h3{
            font-size:1rem;
        }
        p{
            font-size:12px;
            
        }
    }
}