

.user-details{
    margin:1rem 1rem 0 1rem;
    font-family: opensans;
    text-align: center;
    
    .welcome-msg{
        background-color: rgb(240, 240, 240);
        padding:1rem;
        border-radius:3px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        i{
            cursor: pointer;
            margin-left:1rem;
            transition: .2s;
        }
        i:hover{
            color: gray;
        }
    }
    .total-history{
        margin-top:1rem;
        text-align: end;
        color:rgb(255, 115, 0);
    }
    h1{
        color:rgb(255, 123, 0);
        margin:1rem;
        font-size:1.5rem;
        span{
            color:rgb(0, 0, 0);
        }
    }
    h3{
        color:rgb(129, 129, 129);
    }
    h4{
        color:rgb(104, 104, 104);
        span{
            color:rgb(255, 72, 0);
        }
    }
    .order-history{
        padding:3px;
        border:1px solid rgb(209, 209, 209);
        margin-top:5px;
        border-radius: 3px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        p{
            
        }
        img{
            width:50px;
            height:50px;
            object-fit: cover;
        }
        h4{
            padding:2px;
            color:red;
        }
    }
    .order-list{
        border:1px solid rgb(172, 172, 172);
        padding:10px;
        border-radius: 3px;
        margin-top:1rem;
    }
}
@media(max-width:905px){
    .user-details{
        .welcome-msg{
            flex-direction: column;
        }
    }
}
@media(max-width:905px){
    .user-details{
        h1{
            font-size:16px;
        }
    }
}
