

.user-details{
    margin:3rem 1rem;
    font-family: raleway;
    text-align: center;
    .order-history{
        padding:3px;
        border:1px solid rgb(209, 209, 209);
        margin-top:5px;
        border-radius: 3px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        p{
            
        }
        img{
            width:50px;
            height:50px;
            object-fit: cover;
        }
        h4{
            padding:2px;
            color:red;
        }
    }
    .order-list{
        border:1px solid rgb(172, 172, 172);
        padding:10px;
        border-radius: 3px;
        margin-top:1rem;
    }
}