

.rest-preview{
    border:1px solid rgb(218, 218, 218);
    border-radius:3px;
    list-style: none;
    padding:1rem;
    margin:1rem;
    font-family: worksans;
    color:rgb(0, 0, 0);
    box-shadow: 1px 1px 2px rgb(230, 230, 230);
    
    p{
        max-width:300px;
    }
    img{
        width:390px;
        height:250px;
        object-fit: cover;
        border-radius: 3px;
    }
    li > * {
        margin:5px;
    }
    .order-btn{
        display:flex;
        justify-content: space-between;
        
        button{
            width:70px;
            height:25px;
            font-size: 1rem;
            background-color: black;
            border:none;
            cursor: pointer;
            color:rgb(255, 255, 255);
            transition: .2s;
            border-radius: 3px;
        }
        a{
            margin-top:auto;
        }
        button:hover{
            color:white;
            background-color: rgb(51, 51, 51);
        }
    }
}


@media(max-width:1150px){
    .rest-preview{
        img{
            width:400px;
            justify-content: center;
            align-items: center;
        }
    }
}



@media(max-width:500px){
    .rest-preview{
        img{
            width:300px;
            justify-content: center;
            align-items: center;
        }
        p{
            font-size:12px;
            max-width:200px;
        }
    }
}
@media(max-width:320px){
    .rest-preview{
        img{
            width:250px;
            justify-content: center;
            align-items: center;
            object-fit: cover;
        }
        p{
            font-size:12px;
            max-width:150px;
        }
    }
}